body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 211, 196);
}
.container{
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.child_1{
    width: 100%;
    background-color: rgb(161, 123, 197);
    height: 100px;
    display: block;
}
.child_2{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 400px;
    display: flex ;
    gap: 10px;
}
.left{
    width: 40%;
    background-color: aquamarine;
}
.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.up-1{
    background-color: rgb(161, 226, 169);
    width: 100%;
}
.up-2{
    background-color: yellow;
}
.under{
    display: flex;
    gap: 10px;
    /* flex-grow: ; */
}
.under-1{
    background-color: violet;
    width: 50%;

}
.under-2{
    background-color: blue;
    width: 50%;
}
.right_item{
    flex-grow: 1;
}